<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' />
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>UndergroundArts</title>
</head>

<body>

	<head>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a class="navbar-brand arts" href="href="index.html"">UndergroundArts</a>
				</div>
			</div>
		</div>
	</head>

	<div id="contentimg"></div>
	<section class="application">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<h2>Alcanza a más personas</h2>
							<h3>Difunde tu evento en UndergroundArts</h3>
						</div>

						<div class="col-md-6">

							<form>
								<h2>Regístrate</h2>
								<div class="form-group">
									<label for="catego">Categoría:</label>
									<select id="event-kind-input" class="form-control">
                                  <option value="escenicas">Artes escénicas</option>
                                  <option value="plasticas">Artes plásticas</option>
                                  <option value="visuales">Artes visuales</option>
                                  <option value="artesanías">Artesanías</option>
                                    <option value="música">Música</option>
                                </select>
								</div>

								<div class="form-group">
									<label for="name">Nombre de tu evento:</label>
									<input id="event-name-input" type="text" class="form-control" name="nombre evento " value=" ">
								</div>

								<div class="form-group">
									<label for="date">Fecha:</label>
									<input id='date-input' type="date" class="form-control" name="fecha de cierre" step="1" min="2016-01-01" max="2020-12-31" value="2013-01-01">
								</div>

								<div class="form-group">
									<label for="location">Ubicación:</label>
									<input id="date-input" type="text" class="form-control" name="ubicación" value=" ">
								</div>

								<div class="form-group">
									<label for="cost">Costo:</label>
									<select id="price-input">
																				<option value="$ ">$</option>
																				<option value=" $$">$$</option>
																				<option value=" $$$">$$$</option>
																			</select>

								</div>

								<div class="form-group">
									<label for="about">Sobre el artista/colectivo:</label>
									<input id="artist-information-" type="text" class="form-control" name="video " value=" ">
									<h6 class="help-block"> (link de video en Youtube)</h6>
								</div>
								<div class="form-group">
									<label for="">Tu archivo:</label>
									<input class="image-input" type="file" id="files" name="files[]" multiple/>
									<h6 class="help-block">Comparte tu trayectoria o parte de tu trabajo</h6>
								</div>



								<button id="registration" type="submit" class="modal-action waves-effects waves-green btn-flat">Regístrate</button>

							</form>
						</div>



						<section class="more-information">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-4">
												<h3>¿Por qué agregar tus eventos en UndergroundArts?</h2>
							<p>Porque somos la única plataforma que se interesa por la difusión de proyectos de artistas independientes</p>
						</div>
						<div class="col-md-4">
							<h3>Accede primero que nadie a los nuevos eventos</h3>
												<p>Al registrar tus eventos, recibirás información sobre otros eventos antes que nadie </p>

											</div>
											<div class="col-md-4">
												<h3> Estamos para resolver cualquier duda</h3>
												<p>Sabemos que ante una plataforma nueva como lo es UndergroundArts, te surgiran muchas dudas, pero estamos para ayudarte</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<!--Footer-->
						<footer class="page-footer indigo center-on-small-only pt-0">

							<!--Footer Links-->
							<div class="container">


								<!--First row-->
								<div class="row">

									<!--First column-->
									<div class="col-md-12">

										<div class="footer-socials mb-5 flex-center" class="col-md-9">

											<!--Facebook-->
											<a class="icons-sm fb-ic icons"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
											<!--Twitter-->
											<a class="icons-sm tw-ic icons"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
											<!--Google +-->
											<a class="icons-sm gplus-ic icons"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
											<!--Linkedin-->
											<a class="icons-sm li-ic icons"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
											<!--Instagram-->
											<a class="icons-sm ins-ic icons"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
											<!--Pinterest-->
											<a class="icons-sm pin-ic icons"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
										</div>
									</div>
									<!--/First column-->
								</div>
								<!--/First row-->
							</div>
							<!--/Footer Links-->

							<!--Copyright-->
							<div class="footer-copyright">
								<div class="container-fluid">
									© 2018 Copyright </a>
								</div>
							</div>
							<!--/Copyright-->
							<div id="div1"></div>
						</footer>
						<!--/Footer-->




						<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

						<script src="../js/app.js"></script>

						<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
